# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.

*       @deepchecks/deepchecks-team

/docs/ @shir22 @noamzbr
/docs/source/examples/ @deepchecks/deepchecks-team

.github @noamzbr

README.rst @shir22

requirements/ @noamzbr
deepchecks/core/ @deepchecks/algo-team
tests/base @deepchecks/algo-team
tests/serialization @deepchecks/algo-team

deepchecks/core/check_utils/ @deepchecks/algo-team
deepchecks/utils/distribution @deepchecks/algo-team
deepchecks/utils/performance @deepchecks/algo-team
deepchecks/simple_models.py @deepchecks/algo-team
deepchecks/single_sample_metrics.py @deepchecks/algo-team
deepchecks/vision/utils/ @deepchecks/algo-team
deepchecks/ppscore.py @deepchecks/algo-team
