# ----------------------------------------------------------------------------
# Copyright (C) 2021-2022 Deepchecks (https://www.deepchecks.com)
#
# This file is part of Deepchecks.
# Deepchecks is distributed under the terms of the GNU Affero General
# Public License (version 3 or later).
# You should have received a copy of the GNU Affero General Public License
# along with Deepchecks.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------------
#
history/

*catboost_info*

.vscode/
.idea/
.DS_Store
*.pdf

test/AutogluonModels
test/.agModels


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Requirements Logs
.*.log

# Unit test / coverage reports
default.coveragerc
.tox/

.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
venv/
.venv
venv.bak/
.env
env/
env.bak/
ENV/
.win_venv

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx Docs
_autosummary/
generated/

#other
lychee.output
docs.error.log
*.pt
*.zip

# Automatically downloaded files
*coco128*
*MNIST*