# ----------------------------------------------------------------------------
# Copyright (C) 2021-2022 Deepchecks (https://www.deepchecks.com)
#
# This file is part of Deepchecks.
# Deepchecks is distributed under the terms of the GNU Affero General
# Public License (version 3 or later).
# You should have received a copy of the GNU Affero General Public License
# along with Deepchecks.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------------
#
history/

*catboost_info*

.vscode/
.idea/
.DS_Store
*.pdf

test/AutogluonModels
test/.agModels


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Requirements Logs
.*.log

# Unit test / coverage reports
default.coveragerc
.tox/

.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
venv/
.venv
venv.bak/
.env
env/
env.bak/
ENV/
.win_venv

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx Docs
_autosummary/
generated/

#other
lychee.output
docs.error.log
*.pt
*.zip

# Automatically downloaded files
*coco128*
*MNIST*

# build folders of sphinx gallery
docs/source/examples/vision/guides/examples/
docs/source/examples/general/examples/
docs/source/examples/vision/checks/distribution/examples/
docs/source/examples/vision/checks/performance/examples/
docs/source/examples/tabular/guides/examples/
docs/source/examples/tabular/checks/distribution/examples/
docs/source/examples/tabular/checks/overview/examples/
docs/source/examples/tabular/checks/integrity/examples/
docs/source/examples/tabular/checks/methodology/examples/
docs/source/examples/tabular/checks/performance/examples/
docs/source/examples/tabular/use-cases/examples/
docs/source/examples/tabular/checks/methodology/examples/
docs/source/tutorials/tabular/examples
docs/source/tutorials/vision/examples
docs/source/examples/vision/checks/methodology/examples/
docs/source/user-guide/general/customizations/examples/
docs/source/user-guide/general/exporting_results/examples/
docs/source/tutorials/tabular/examples/

# build artifacts from running docs (vision and wandb export)
docs/source/tutorials/vision/*.html
docs/source/tutorials/vision/deepchecks_formatted_image*.jpg
docs/source/tutorials/vision/tomato-detection/
docs/source/tutorials/vision/hymenoptera_data/
docs/source/user-guide/general/exporting_results/wandb
deepchecks/vision/datasets/classification/models/
docs/source/auto_tutorials/
docs/source/checks_gallery/
