include requirements/requirements.txt
include requirements/vision-requirements.txt
include requirements/nlp-requirements.txt
include requirements/dev-requirements.txt
include requirements/nlp-prop-requirements.txt
include LICENSE
include VERSION
include README.md
include DESCRIPTION.rst
recursive-include deepchecks/core/resources *
recursive-include deepchecks/vision/fonts *
recursive-include deepchecks/vision/datasets/assets *
