
.bd-sidebar {
  z-index: auto
}

:root {
  /*****************************************************************************
  * Color
  *
  * Colors are defined in rgb string way, "red, green, blue"
  **/

    --pst-color-link: 157, 96, 251;
    --pst-color-link-hover: 87, 24, 184;

}