# NLP
nltk<=3.6.7; python_version < '3.7'
nltk>=3.8.1; python_version >= '3.7' # not directly required, pinned by Snyk to avoid a vulnerability
datasets
textblob
transformers<=4.36.2
--find-links https://s3.amazonaws.com/pytorch/whl/torch_stable.html
torch==1.13.1
sentence_transformers<=2.2.2