twine

pylint==2.13.5
pydocstyle 
flake8==4.0.1
flake8-spellcheck 
flake8-eradicate 
flake8-rst
isort

pytest<8.0.0
pytest-cov
pyhamcrest
nbval 
coveralls
tox
gower==0.0.5
deepdiff<=6.3.1

scikit-learn==1.0.2; python_version >= '3.7'
# pandas 1.3.5 is the last version to support Python 3.7
pandas==1.3.5; python_version >= '3.7'

catboost
lightgbm
xgboost<=1.7.5

jupyter
jupyterlab
notebook
kaleido  # optional dependency, used by plotly to transform figures into images

# YoloV5
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
pillow>=7.1.2; python_version < '3.8'
pillow>=10.0.1; python_version >= '3.8' # not directly required, pinned by Snyk to avoid a vulnerability
PyYAML>=5.3.1
requests>=2.23.0
# Remove the <=1.10.1 dependency below once sklearn's issue is fixed. The higher version causes
# issues with sklearn's _most_frequent() function using scipy's mode() function
scipy>=1.4.1, <=1.10.1
tqdm>=4.41.0
seaborn>=0.11.0
wandb>=0.12.15,<0.13.0
beautifulsoup4>=4.11.1

# NLP
nltk<=3.6.7; python_version < '3.7'
nltk>=3.8.1; python_version >= '3.7' # not directly required, pinned by Snyk to avoid a vulnerability
datasets
textblob
transformers
sentence-transformers

# Avoid Vulnerabilities
tornado>=6.3.3; python_version >= '3.8' # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1; python_version >= '3.8' # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.0; python_version >= '3.8' # not directly required, pinned by Snyk to avoid a vulnerability

umap-learn==0.5.4