pandas>=1.1.5
numpy>=1.19
scikit-learn>=0.23.2
jsonpickle>=2
PyNomaly>=0.3.3

# require for python 3.8+
ipython>=7.15.0,<8; python_version >= '3.8'
ipykernel>=5.3.0; python_version >= '3.8'
ipywidgets>=7.6.5,<8; python_version >= '3.8'

# google colab requirements (python 3.7)
ipython>=5.5.0,<8; python_version < '3.8'
ipykernel>=4.10.1; python_version < '3.8'
ipywidgets>=7.5.0,<8; python_version < '3.8'

typing_extensions>=4.0.0
tqdm>=4.62.3
category-encoders>=2.3.0

importlib_resources>=1.3; python_version < '3.9'
importlib_metadata>=1.4; python_version < '3.8'

# Category encoder depends on old statsmodels version which raises pandas warning. until dependency in category-encoders
# is updated, explicitly add it here
statsmodels>=0.11.0; python_version < '3.7'
statsmodels>=0.13.5; python_version >= '3.7'
scipy>=1.4.1
dataclasses>=0.6; python_version < '3.7'
# jupyterlab-plotly extension that is used to display plotly figures
plotly>=5.8.0
matplotlib>=3.3.4
pyzmq<24.0.0
beautifulsoup4>=4.11.1
