sphinx==4.5.0
nbsphinx>=0.8.7
pydata-sphinx-theme>=0.7.2,<0.9.0
sphinx-copybutton>=0.4.0
sphinx-gallery>=0.10.1
sphinxcontrib-applehelp>=1.0.2
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=2.0.0
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.3
sphinxcontrib-serializinghtml>=1.1.5
readthedocs-sphinx-search
numpydoc>=1.1.0
pypandoc>=1.7.2
sphinx-reredirects>=0.0.1
#ipywidgets @ git+https://github.com/deepchecks/ipywidgets.git@8ac487b64ffd48dbeaa0a47d1997be27f6052dbc
docutils