# ----------------------------------------------------------------------------
# Copyright (C) 2021-2023 Deepchecks (https://www.deepchecks.com)
#
# This file is part of Deepchecks.
# Deepchecks is distributed under the terms of the GNU Affero General
# Public License (version 3 or later).
# You should have received a copy of the GNU Affero General Public License
# along with Deepchecks.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------------
#
#name: benchmarks
#
#on:
#  pull_request:
#    branches: [ main ]
#
#concurrency:
#  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
#  cancel-in-progress: true
#
#env:
#  DISABLE_DEEPCHECKS_ANONYMOUS_TELEMETRY: "true"
#
#jobs:
#  benchmark:
#
#    runs-on: ubuntu-latest
#
#    steps:
#    - uses: actions/checkout@v4
#    - name: Set up Python 3.9
#      uses: actions/setup-python@v3
#      with:
#        python-version: "3.9"
#    - name: Set Up Env
#      run: make env
#    - name: pip freeze
#      run: make freeze
#    - name: Run benchmarks
#      run: |
#        .github/scripts/benchmark.sh
