# ----------------------------------------------------------------------------
# Copyright (C) 2021-2022 Deepchecks (https://www.deepchecks.com)
#
# This file is part of Deepchecks.
# Deepchecks is distributed under the terms of the GNU Affero General
# Public License (version 3 or later).
# You should have received a copy of the GNU Affero General Public License
# along with Deepchecks.  If not, see <http://www.gnu.org/licenses/>.
# ----------------------------------------------------------------------------
#
# Workflow to build and publish the documentation
name: Documentation builder

on:
  schedule:
    # Nightly build at 3:42 A.M.
    - cron: "42 3 */1 * *"
  pull_request:
    branches:
      - main
      - "[0-9]+.[0-9]+.X"
  # Manual run
  workflow_dispatch:

env:
  DEEPCHECKS_DISABLE_LATEST: "true"
  WANDB_MODE: "offline"

jobs:
  # Build the documentation
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout deepchecks
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
      - name: Build documentation
        run: make docs

      - name: Upload documentation
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/build/html

  # Push the documentation
  push:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.event_name != 'pull_request'
    steps:
      - name: Download documentation
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs

      - name: Checkout deepchecks
        uses: actions/checkout@v2
        with:
          path: deepchecks

      - name: Checkout deepchecks.github.io
        uses: actions/checkout@v2
        with:
          repository: deepchecks/deepchecks.github.io
          path: deepchecks.github.io
          token: ${{ secrets.DEEPCHECKS_CI_TOKEN }}

      - name: Push documentation
        run: deepchecks/.github/scripts/push_docs.sh